services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: flacron
      POSTGRES_PASSWORD: flacronpass
      POSTGRES_DB: flacron_gamezone
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
